name: Quality

on:
  push:
    tags:
      - v*
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'LICENSES/**'
      - '.releases/**'
      - '.github/**'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    uses: openkcm/build/.github/workflows/ci.lib.yaml@main
    with:
      run_task_tests: true
    secrets: inherit
